{{#extends 'layouts/main'}}
{{#content 'body'}}
  <h1>Chat</h1>
  <div id="chat-container">
    <div id="chat-messages">
    </div>
    <form id="chat-form">
      <input type="text" id="user" placeholder="Your Name">
      <input type="text" id="message" placeholder="Type a message...">
      <button type="submit">Send</button>
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
{{/content}}

